@{
    ViewData["Title"] = "Admin Login";
}

<style>
    
   
</style>

<div class="admin-login-container mt-5 mb-5">
    <div class="login-card">
        <h1 class="text-center pb-2">Admin Login</h1>

        @if (ViewBag.Message != null)
        {
            <p style="color: red;">@ViewBag.Message</p>
        }
        <form method="post" asp-action="Index" asp-controller="AdminPanel">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>

            <div class="text-center">
                <button class="btn custom-btn rounded-pill px-5 pt-2 pb-2" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
