<div class="container-fluid hero-section">
    <div class="container">
        <div class="row align-items-center text-center justify-content-center " style="height:300px;">
            <h1 class="text-uppercase text-white" data-aos="fade-up" data-aos-duration="1200">About us</h1>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>KTechSolutions was established in 2007 as a company between three Internet technology Specialists in Sangli of India. Our goal was simple that to become the dominant web-services and consulting firm within India and then expanding the reach outside the border of the country. We were worked with over number of clients across country with service of customized software & websites.</p>
                
                <p>
                    We are known as best Information Technology service Provider Company that supplies services of website design, website development, flash multimedia, website hosting, software development services. Our dedicated professional team is using the latest website development technology, will provide our clients an amazing services at very competitive prices. Our Website Developers have successfully designed and launched cost effective websites for individuals and businesses worldwide.
                </p>
                <h3> What we do?</h3>
                If any company or individual requires a new website or a re-design their existing website, then we are having a complete solution for your company. We are not limitedly work up to typical static website patterns but also grabbed a good experience in development of versatile web based dynamic applications. With the confidence of our professional intellectual team & superior technologies we could say that there is Sky is the limit for our work strengths
            </div>
			<div class="col-md-6">
                <img src="~/images/about-img.webp" alt="Hero Image" class="img-fluid animated" />
            </div>
        </div>
    </div>
</div>

